<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single page web app using Angularjs</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
     <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css">

</head>
    
    
<body>
    <div class="container">
        <div>
             <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
        </div>
 


           
            <!-------------------FORM  action="/process?form=newsletter"----------------------->
    <form class="form-horizontal" role="form"
 action="/new" method="POST">
        <fieldset>
        <!-- Form Name -->
            <legend style="text-align:center;">Personal Information</legend>
            <span class="help-block" style="text-align:center;">Hi! Please give some personal information, before we start! :)</span>  
            <!-- Text input-->
            <div class="form-group row">
                <label class="col-md-4 control-label">Email:</label>  
                <div class="col-md-4">
                        <input id="textinput" name="email" type="text" class="form-control input-md">   
                </div>
                <div class="col-md-4"> </div>
            </div>

            <!-- Text input-->
            <div class=" row form-group">
                    <label class="col-md-4 control-label">Degree:</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="degree" type="text" class="form-control input-md">
                    </div>
            </div>

             <!-- Text input-->
            <div class="row form-group">
                    <label class="col-md-4 control-label">Campus:</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="campus" type="text" placeholder="ex. ICT, Lemminkäisenkatu, Sepänkatu.." class="form-control input-md" required="">
                    </div>
            </div>
            <!-- Button -->
            
            
            </fieldset>
        <div class="row form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <!---<a href="/second" id="singlebutton" name="singlebutton" class="btn btn-primary">Next</a>---->
                      <button type="submit" class="btn btn-default"><a href="/second">Next</a></button>
                </div>
        </div>
    </form>
</div>

</body>
</html>