<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single page web app using Angularjs</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
     <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css">

</head>
    
    
<body>
    <div class="container">
        <div>
             <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
        </div>
                <!-------------------FORM empty form action so it can stand to the same url tht it is atm----------------------->
        
    <form class="form-horizontal" role="form"
 action="" method="POST">
        <fieldset>
        <!-- Form Name -->
            <legend style="text-align:center;">Second Page</legend>
            
        </fieldset>
         <!-- Question 1-->
       
        <fieldset id="group1">         
            <div class="row form-group">
                
                 <div class="row">
                     <div class="col-md-3"></div>
                     <label class="control-label" for="radios" name="question1">1. How often do you eat in the student cafeterias near ICT?</label><br> 
                    
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label not-bold">
                            <input class="form-check-input" type="radio" name="first" value="option1" > Never</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="first" value="option2"> Less than once a week</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="first" value="option3" > 1-2 times a week</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="first"  value="option4"> About 3 times a week</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="first"  value="option5"> Every day</label>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
           </fieldset> 
        
         <!-- Question 2-->
            <fieldset id="group2">
            <div class="row form-group">
                 <div class="row">
                     <div class="col-md-3"></div>
                     <label class="control-label" for="radios">2. Which restaurant do you go the most often?</label><br> 
                    
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label not-bold">
                            <input class="form-check-input" type="radio" name="group2" value="option1"> ICT-talo Sodexo</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group2" value="option2"> Lemminkäisenkatu </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group2" value="option3"> Delica / Deli Pharma</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group2" value="option4"> Assarin Ullakko</label>
                    </div>
                           
                    <div class="col-md-4"></div>
                </div>
            </div>
           </fieldset> 
        
        
         <!-- Question 3-->
        <fieldset id="group3">
            <div class="row form-group">
                 <div class="row">
                     <div class="col-md-3"></div>
                     <label class="control-label" for="radios">3. Are there differences in the quality of the food in different restaurants?</label><br>   
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group3"  value="option1"> Yes <br><input placeholder="Why.. ?" type="text" name="group3" />
                          </label>

                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group3" value="option2" checked> No. </label>
                    </div>
                    
                    
                    <div class="col-md-4"></div>
                </div>
            </div>
        </fieldset>
        
                 <!-- Question 4-->
        <fieldset id="group4">
            <div class="row form-group">
                 <div class="row">
                     <div class="col-md-3"></div>
                     <label class="control-label" for="radios">4. How satisfied are you with the overall quality of the food in the student restaurants?</label><br>   
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group4" value="option1" > Not satisfied at all</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group4" value="option2"> Slightly unsatisfied</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group4" value="option3"> Satisfied </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group4" value="option4"> Very satisfied </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group4" value="option5"> Extremely satisfied  </label>
                    </div>         
                    <div class="col-md-4"></div>
                </div>
            </div>
        </fieldset>
        
                <!-- Question 5-->
        <fieldset id="group5">
            <div class="row form-group">
                 <div class="row">
                     <div class="col-md-3"></div>
                     <label class="control-label" for="radios">5. How satisfied are you with the variety and choices of food in the student restaurants?</label><br>   
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group5" value="option1"> Not satisfied at all</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group5" value="option2"> Slightly unsatisfied</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group5" value="option3"> Satisfied </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group5" value="option4"> Very satisfied </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group5" value="option5"> Extremely satisfied  </label>
                    </div>         
                    <div class="col-md-4"></div>
                </div>
            </div>
        </fieldset>
        
                        <!-- Question 6-->
        <fieldset id="group6">
            <div class="row form-group">
                 <div class="row">
                     <div class="col-md-3"></div>
                     <label class="control-label" for="radios">6. Do the restaurants have enough vegetarian options in your opinion?</label><br>   
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group6"  value="option1"> Too few options</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group6" value="option2"> Good amount of options</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                             <input class="form-check-input" type="radio" name="group6" id="gridRadios1" value="option3"> Too many options </label>
                    </div>       
                    <div class="col-md-4"></div>
                </div>
            </div>
        </fieldset>
           
        
        <!-- Button -->    
            <div class="row form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                   <button type="submit" class="btn btn-default"><a href="/third">Next</a></button>
                </div>
            </div>
    </form>
    </div>
    </body>
</html>